<!DOCTYPE html>
<html lang="it">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-left">
    <div class="d-flex justify-content-between">
      <div>
        <p>Monitor status: <%= status %></p>
        <p>Last message: <span id="message"></span></p>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>

</html>
