<!DOCTYPE html>
<html lang="it">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">
    <div id="chartContainer" class="row justify-content-center">
    </div>
  </div>
</body>
<% include partials/script %>

</html>
