<!DOCTYPE html>
<html lang="it">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">
    <div class="d-flex justify-content-between">
      <div id="chartContainer" style="width:80%"></div>
      <form id="lateralMenu">
        <label class="sr-only" for="euroAmountt">Amount&nbsp;<span class="asset"></span></label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text bg-warning">Amount&nbsp;<span class="text-uppercase asset"></span></div>
          </div>
          <input class="form-control" type="number" id="assetAmount" name="assetAmount" value="0" step="0.00001">
        </div>
        <label class="sr-only" for="euroAmountt">Amount</label>
        <div class="input-group mb-4 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Amount €</div>
          </div>
          <input class="form-control" type="number" id="euroAmount" name="euroAmount" value="0" step="0.01">
        </div>
        <label class="sr-only" for="riskPer">Risk</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Risk %</div>
          </div>
          <input class="form-control" type="number" id="riskPer" name="riskPer" value="10">
        </div>
        <label class="sr-only" for="euroRisk">Euro</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">€</div>
          </div>
          <input class="form-control" type="number" id="euroRisk" name="euroRisk" value="0" step="0.01">
        </div>
        <label class="sr-only" for="limitPrice">Limit Price</label>
        <div class="input-group mb-4 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text bg-warning">Limit Price</div>
          </div>
          <input class="form-control" type="number" id="limitPrice" name="limitPrice" value="0" step="0.00001">
        </div>
        <label class="sr-only" for="stopPer">Stop %</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Stop %</div>
          </div>
          <input class="form-control" type="number" id="stopPer" name="stopPer" value="10">
        </div>
        <label class="sr-only" for="stopPrice">Stop Price</label>
        <div class="input-group mb-4 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text bg-warning">Stop Price</div>
          </div>
          <input class="form-control" type="number" id="stopPrice" name="stopPrice" value="0" step="0.00001">
        </div>
        <button type="button" class="btn btn-danger mb-2">STOP LIMIT (SELL)</button>
        <div id="noStopLimit" class="display-1"><i class="fas fa-exclamation-triangle text-danger"></i></div>
      </form>
    </div>
  </div>
</body>
<% include partials/script %>

</html>
